<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    
    </startup>
<system.serviceModel>
        <client>
                <endpoint address="net.tcp://localhost/IndexService" binding="netTcpBinding"
                        bindingConfiguration="NetTcpBinding_IIndexService" contract="IndexServiceReference.IIndexService"
                        name="NetTcpBinding_IIndexService">
                        <identity>
                                <certificate encodedValue="AwAAAAEAAAAUAAAAETwwDV7C3K1ei//0xXzenlQQD3MgAAAAAQAAANUBAAAwggHRMIIBOqADAgECAhAQsEvr4BqbuUAgeB9jhadtMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xMzEyMjUxNjU1MTNaFw0xODEyMjUwMDAwMDBaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAuH89Q+9fIIw69Uov/a3FdIdJyD/oY16kpC6ZZUMHkqv1JNIqn0457uy5sXAlc+j6jz6ZI/QWt5uXGOzEnR860vWOCzPltwk/1vmTYwikA+GId0D+51vkJEOQNE8X2Hgfipwe31NxZl6G7h5/eLyoLiJadhwTA4lRYhBw2E9gq8kCAwEAAaMkMCIwCwYDVR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA0GCSqGSIb3DQEBBQUAA4GBAHerN1Myj8dugppAhRmbzW2WEIB1KjRco6MckEgbdKDdexkBLrp0fu+gOjE3RxZsVElMbe01NKe2eniohMHBiv4XqymbfSegGAcrUETNr6j+/AYrNeGQHGLmAxWi4NMOrYEOIAbDJqa4/Ibnf7Xdi5ix4y16+R7EA/bMjMCjwa19" />
                        </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost/FileService" binding="netTcpBinding"
                        bindingConfiguration="FileEndPoint" contract="IndexServiceReference.IFileService"
                        name="FileEndPoint">
                        <identity>
                                <dns value="localhost" />
                        </identity>
                </endpoint>
        </client>
        <standardEndpoints>
                <webHttpEndpoint>
                        <standardEndpoint name="NewStandardEndpoint0" maxBufferSize="2147483647"
                                maxReceivedMessageSize="2147483647" />
                </webHttpEndpoint>
        </standardEndpoints>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior0" />
            </endpointBehaviors>
        </behaviors>
        <bindings>
                <basicHttpBinding>
                        <binding name="NewStandardEndpoint0" allowCookies="true" maxBufferPoolSize="2147483647"
                                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                </basicHttpBinding>
                <netTcpBinding>
                        <binding name="NetTcpBinding_IIndexService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                                <security mode="Message">
                                        <message clientCredentialType="UserName" />
                                </security>
                        </binding>
                        <binding name="FileEndPoint" transferMode="Streamed">
                                <security>
                                        <transport clientCredentialType="None" />
                                </security>
                        </binding>
                </netTcpBinding>
        </bindings>
    </system.serviceModel>
</configuration>